<%- include("partials/headers"); -%>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
    </tr>

      <% for (var i = 0; i < customers.length; i++) { %>
      <tr>
      <td><a href="/customers/<%=customers[i].title%>"><%= customers[i].title%></a></td>
      <td><em><%= customers[i].email%></em></td>
      <td>$<%= customers[i].balance%></td>
      </tr>
      <%}%>
  </table>



<%- include("partials/footer"); -%>
